body {background-color: rgb(66, 69, 71);}

.game-window{
    display: block;
    border-radius: 5%;
    height: 600px;
    width: 700px;
    background-color: rgb(121, 121, 121);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    
}

.button{
  background-color: #c7c7c7;
  border: 6px outset;
  color: rgb(194, 194, 194);
  padding: 32px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button:active{
    border-style: inset;
}

.smiley{
    background: url(https://yotamel.github.io/Mine-Sweeper-day2-submission/img/Smiley-none-transparent.png);
  background-size: 65px 65px;
}

.lives-display{
    display: block;
    position: relative;
    background-color:#c7c7c7;
    width: 200px;
    height: 100px;
    left: 15px;
    bottom: 530px;
    text-align: center;
}

.lives{
    height: 40px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    table-layout: fixed;
}

.game-table{
    height: 400px;
    width: 400px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    table-layout: fixed;

}

.cell{
    background-color: #c7c7c7;
    border: 4px outset;
    object-fit: cover;
}

.easy{
    height:80px; 
    width: 80px;
}

.normal{
    height:36px; 
    width: 36px;
}

.hard{
    height:20px; 
    width: 20px;
}

.cell img{
    height: 75%;
    width: auto;
}

.shown{
    border-style: inset;
    background-color: #696969; /*nice*/
}

img{
    height: 30px;
    width: auto;
}

